.content__profile {
  padding: 40px 200px 50px;
}

@media screen and (max-width: 1100px) {
  .content__profile {
    padding: 40px 100px 50px;
  }
}

@media screen and (max-width: 900px) {
  .content__profile {
    padding: 40px 30px 30px;
  }
}

@media screen and (max-width: 560px) {
  .content__profile {
    padding: 40px 19px 36px;
  }
}