.element__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 195px;
  margin: 25.5px 0;
}

@media screen and (max-width: 1279px) {
  .element__title {
    max-width: calc(100vw / (1280 / 180));
  }
}

@media screen and (max-width: 1100px) {
    .element__title {
      max-width: calc(100vw / (1280 / 227));
    }
  }

@media screen and (max-width: 900px) {
  .element__title {
    max-width: calc(100vw / (1280 / 270));
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 760px) {
  .element__title {
    max-width: calc(100vw / (1280 / 360));
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 560px) {
  .element__title {
    max-width: calc(100vw / (1280 / 800));
  }
}


