.element__garbage {
  background: url(../../../images/garbage.svg);
  background-size: 18px 19px;
  transition: opacity .3s linear;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.element__garbage:hover {
  opacity: .6;
  cursor: pointer;
}