.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}