.register__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 60px auto 50px;
  color: #fff;
  cursor: default;
}

@media screen and (max-width: 560px) {
  .register__title {
    margin: 40px auto 40px;
    font-size: 20px;
    line-height: 24px;
  }
}