.profile__grid {
  display: grid;
  max-width: 336px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-row-gap: 16px;
  grid-column-gap: 18px;
}

@media screen and (max-width: 760px) {
  .profile__grid {
    grid-row-gap: 9px;
    grid-column-gap: 10px;
    transform: translate(15px, 0);
  }
}