.popup__button-save {
  margin: 19px 0 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  min-height: 50px;
}

.popup__button-save:hover {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__button-save  {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 0;
    min-height: 46px;
  }
}