.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    max-width: calc(100vw / 3.2);
  }
}

@media screen and (max-width: 560px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-top: 26px;
    max-width: 189px;
  }
}