.root__header {
  margin: 45px 200px 0;
}
  
@media screen and (max-width: 1100px) {
  .root__header {
    margin: 30px 100px 0;
  }
}
    
@media screen and (max-width: 900px) {
  .root__header {
    margin: 30px 30px 0;
  }
}
    
@media screen and (max-width: 560px) {
  .root__header {
    margin: 26px 0 0;
  }
}